section {
  border: 2px solid $secondary;
}

section h1,
section h1 span {
  display: block;
}

.section-content {
  width: 100%;
  @include flexbox(
    $placeItems: center,
    $placeContent: space-around,
    $direction: row,
    $wrap: wrap
  );
}

.left,
.right {
  width: 50%;
}

.image-container {
  padding: 0.5em;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

.image-container img {
  width: 90%;
}

.LearnCssAnimation {
  transform-origin: 50% 50% 0px;
  animation-name: ImgRotate3dAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes ImgRotate3dAnimation {
  50% {
    transform: rotate3d(2, 0, 1, 180deg);
  }
  100% {
    transform: rotate3d(2, 0, 1, 360deg);
  }
}

// * * * * Aquarium
.aquarium {
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  position: relative;
  animation-name: aquaCube3dRotation;
  animation-duration: 20s;
  animation-delay: 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes aquaCube3dRotation {
  from {
    transform: rotate3d(1, 1, 1, 0);
  }
  to {
    transform: rotate3d(1, 1, 1, 720deg);
  }
}

div:hover {
  animation-play-state: paused;
}

.aquarium div {
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0.8;
}

.face1 {
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 200px);
}

.face2 {
  top: 0;
  left: 0;
  transform: translate3d(0, 0, -200px);
}

.face3 {
  top: 0;
  left: 100%;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 200px) rotate3d(0, 1, 0, 90deg);
}

.face4 {
  top: 100%;
  left: 0;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 200px) rotate3d(1, 0, 0, -90deg);
}

.face5 {
  top: 0;
  right: 100%;
  transform-origin: 100% 0;
  transform: translate3d(0, 0, 200px) rotate3d(0, 1, 0, -90deg);
}

.face6 {
  bottom: 100%;
  left: 0;
  transform-origin: 0 100%;
  transform: translate3d(0, 0, 200px) rotate3d(1, 0, 0, 90deg);
}

/* * * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * * * */
@media only screen and (max-width: 800px) {
  .section-content {
    @include flexbox(
      $placeItems: center,
      $placeContent: center,
      $direction: column,
      $wrap: wrap
    );
  }

  .left,
  .right {
    width: 100%;
  }
}
