// * * * * COLOURS
$primary: maroon;
$secondary: firebrick;
$third: moccasin;
$accent: aquamarine;
$black: #0c0a0a;

// * * * * FONTS
$fontSize: 2rem;
$lineHeight: 2rem;
$bodyFont: "Open Sans", sans-serif;
// $headingFont: 'Chicle', cursive;
